N8N/automation.json
{
  "name": "MakersTech ChatBot Logic",
  "nodes": [
    {
      "parameters": {
        "path": "webhook/chatbot",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Recibir Mensaje de Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "webhookId": "f2e5a7b8-a1b9-4d3c-8e6f-7d1a9b2c3d4e",
      "id": "e0a4f6a9-8d7b-4b1c-9e2a-1f6c8d3b5e7a"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "{{$json.body.message}}",
              "operation": "contains",
              "value2": "cuántos"
            }
          ]
        }
      },
      "name": "Detectar Intención",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "id": "f1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p6"
    },
    {
      "parameters": {
        "url": "https://tu-backend-adonis.com/api/inventory/summary",
        "options": {}
      },
      "name": "Llamar API Inventario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        200
      ],
      "id": "a1b2c3d4-e5f6-7g8h-9i0j-k1l2m3n4o5p7"
    },
    {
      "parameters": {
        "url": "https://tu-backend-adonis.com/api/products/details?name={{ $json.body.product_name }}",
        "options": {}
      },
      "name": "Llamar API Detalles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        950,
        400
      ],
      "id": "b2c3d4e5-f6g7-h8i9-j0k1-l2m3n4o5p6q7"
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data;\nconst responseText = `En este momento, tenemos ${data.total_computers} computadores; ${data.hp_count} son HP, ${data.dell_count} son Dell, y ${data.apple_count} son Apple. ¿Cuál te gustaría ver?`;\nreturn { response: responseText };"
      },
      "name": "Formatear Respuesta Inventario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "id": "c3d4e5f6-g7h8-i9j0-k1l2-m3n4o5p6q7r8"
    },
    {
      "parameters": {
        "jsCode": "const product = $json.data;\nconst responseText = `El computador ${product.name} tiene un precio de $${product.price}. Cuenta con las siguientes características: ${product.features}.`;\nreturn { response: responseText };"
      },
      "name": "Formatear Respuesta Detalles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        400
      ],
      "id": "d4e5f6g7-h8i9-j0k1-l2m3-n4o5p6q7r8s9"
    }
  ],
  "connections": {
    "Recibir Mensaje de Chat": {
      "main": [
        [
          {
            "node": "Detectar Intención",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intención": {
      "main": [
        [
          {
            "node": "Llamar API Inventario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Llamar API Detalles",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Llamar API Inventario": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Inventario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llamar API Detalles": {
      "main": [
        [
          {
            "node": "Formatear Respuesta Detalles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
