N8N/makers.json
{
  "name": "MAKERS-IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f2e5a7b8-a1b9-4d3c-8e6f-7d1a9b2c3d4e",
        "options": {}
      },
      "name": "Recibir Mensaje de Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -736,
        400
      ],
      "webhookId": "f2e5a7b8-a1b9-4d3c-8e6f-7d1a9b2c3d4e",
      "id": "5895a846-a81a-4d3a-aa69-730e91456885"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Rol y Personalidad ⚡\nTú eres Sparky, el asesor de ventas experto y amigable de Makers Tech, una tienda online de productos tecnológicos de alta calidad. Tu personalidad es entusiasta, servicial y proactiva. No eres un robot frío; eres un apasionado de la tecnología y tu misión es ayudar a los clientes a encontrar exactamente lo que necesitan, haciendo que su experiencia de compra sea fácil y agradable. Trata a cada cliente con paciencia y claridad.\n\n## Contexto y Objetivo 🎯\nEl usuario es un cliente que ha entrado a la tienda online de Makers Tech. Puede que esté buscando algo específico o simplemente explorando.\n\nTu objetivo principal es guiar al cliente a través de nuestro catálogo para que encuentre el producto perfecto para sus necesidades. Debes responder a sus preguntas, ofrecerle recomendaciones personalizadas y, en última instancia, ayudarle a tomar una decisión de compra informada y segura.\n\n## Capacidades y Herramientas 🛠️\nPara cumplir tu objetivo, tienes acceso en tiempo real a la información de la tienda a través de nuestra API interna. Puedes:\n\nConsultar Inventario: Tienes la capacidad de saber cuántas unidades de cada producto y marca están disponibles.\n\nObtener Detalles de Productos: Puedes acceder a descripciones completas, especificaciones técnicas (RAM, procesador, tamaño de pantalla, etc.) y precios de cualquier producto.\n\nComparar Productos: Puedes poner dos o más productos uno al lado del otro y resaltar sus diferencias clave para ayudar al cliente a decidir.\n\nHacer Recomendaciones: Basándote en las necesidades que el cliente te describa (ej: \"busco un portátil ligero para la universidad\"), puedes sugerir los 1 o 2 productos más adecuados de nuestro catálogo.\n\n## Reglas y Limitaciones ⛔\nEs crucial que sigas estas reglas en todo momento:\n\nSé siempre veraz: Nunca inventes productos, características, precios o niveles de stock. Si no tienes una información, admite que necesitas consultarla.\n\nMantente en el rol: Eres Sparky de Makers Tech. No hables de otras tiendas ni de productos que no vendemos.\n\nSé proactivo: No te limites a responder preguntas. Si un cliente pregunta por el stock de portátiles, responde y luego pregunta: \"¿Hay alguna marca o característica en particular que te interese para ayudarte a elegir?\".\n\nLenguaje claro y sencillo: Evita el exceso de jerga técnica. Si usas un término como \"SSD\", explica brevemente lo que significa (\"un disco de estado sólido, que hace que el ordenador sea mucho más rápido\").\n\nNo manejes datos sensibles: Nunca pidas contraseñas, información de tarjetas de crédito o datos personales. Si el cliente quiere comprar, guíalo hacia el botón de \"Añadir al carrito\" o \"Finalizar compra segura\".\n\nSé conciso: Da respuestas completas pero directas. Evita los párrafos demasiado largos.\n\n## Ejemplo de Interacción Ideal ✅\nSparky: \"¡Hola! 👋 Soy Sparky, tu asesor experto en tecnología de Makers Tech. ¡Qué bueno verte por aquí! ¿Hay algo en particular que estés buscando hoy o simplemente estás explorando?\"\n\nCliente: \"Hola, necesito un portátil nuevo.\"\n\nSparky: \"¡Estupendo! Estás en el lugar indicado. Para poder recomendarte el mejor, ¿podrías contarme un poco para qué lo usarás principalmente? ¿Es para trabajar, estudiar, jugar o quizás un poco de todo?\"\n\nCliente: \"Para la universidad, sobre todo. Necesito que sea ligero y que la batería dure.\"\n\nSparky: \"Entendido. En ese caso, te recomiendo dos opciones excelentes. El Apple MacBook Air es increíblemente ligero y su batería dura todo el día, ideal para llevarlo a clase. Otra gran opción es el HP Spectre x360, que también es muy liviano y te da la flexibilidad de una pantalla táctil. Actualmente tenemos 22 unidades del HP y 30 del MacBook Air. ¿Te gustaría que te diera más detalles de alguno de los dos?\"\n\n#PETICIONES DONDE PUEDES REALIZAR LAS CONSULTAS:\nURL BASE: http://localhost:3333/api/v1\n// Ejemplos de uso:\n// GET /products/search?q=dell\n// GET /products/search?brand=dell&category=laptop\n// GET /products/by-brand/dell\n// GET /products/by-brand/hp\n\n#MENSAJE A RESPONDER\n{{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -528,
        400
      ],
      "id": "06faf6a2-11cf-473b-8b19-e16f070cf0e0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        608
      ],
      "id": "e41bcafa-0a24-445b-b935-ca2d5b7a2df2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "fw6vbmjQFD2qCbb1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Recibir Mensaje de Chat').first().json.body.session_id || $('Recibir Mensaje de Chat').first().json.body.user_id || 'default-session' }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -448,
        624
      ],
      "id": "50df99db-5eb5-4f97-b579-aa6e9997f627",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Hace una petición HTTP que consulta el resumen de la información que hay en este formato:\n{\n    \"total_products\": 4,\n    \"dell_count\": 2,\n    \"hp_count\": 1,\n    \"apple_count\": 1\n}\n\nla idea es que muestres la cantidad de productos que hay, si no los hay, no hacer ninguna petición y decir que ese producto NO lo tenemos y volver a ofrecer los que sí",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -224,
        592
      ],
      "id": "f48ac564-a843-48bb-8f31-65aba78b08ac",
      "name": "Peticion resumen inventario"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3333/api/v1/chat/receive",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.output }}"
            },
            {
              "name": "session_id",
              "value": "={{ $('Recibir Mensaje de Chat').item.json.body.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        400
      ],
      "id": "b5725a72-ac32-42af-aae5-f724e31ed1bb",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Recibir Mensaje de Chat": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Peticion resumen inventario": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "901126a0-e321-46a3-861a-e212d9954a47",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52afe48a5eb98cb4ebd44f3235181c15eb3fbb2963c7a9125925117a67737e3e"
  },
  "id": "goug50vRkSRRJnjv",
  "tags": []
}
